<div>
  <form class="" action="search" method="post">
    <input type="text" name="recipient_handle" value="" placeholder="antdke">
    <input type="text" name="text" value="" placeholder="I really like your brand...">
    <button type="submit">Submit</button>
  </form>
</div>

<% form_with model: @feedback do |form|%>
  <% form.text_field :recipient_handle, placeholder: 'antdke' %>
  <% form.text_field :text, placeholder: 'I really like your brand...' %>
  <% form.submit 'Tweet' %>
<% end %>